@tailwind base;
@tailwind components;
@tailwind utilities;

.landingPage-bg{
  background: linear-gradient(107.56deg, #BEADFA 0%, #F3CCF3  100%);
}

.scanPage-bg{
  background: linear-gradient(107.56deg, #7360DF 0%, #ECF2FF 100%);
}

.historyPage-bg{
  background: linear-gradient(177.08deg, #FAF3F0 2.35%, #7360DF  97.57%);
}

.profilePage-bg{
  background: linear-gradient(90deg, #C499F3 0%, #F2AFEF 100%);
}
